.error-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2em;
    gap: 0.5em;
}

.error-code {
    font-size: clamp(4rem, 10vw, 8rem);
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.error-message {
    text-align: center;
    display: block;
    margin: 1.5em;
    margin-top: 0;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    max-width: 90%;
}

.hero-buttons {
    display: flex;
    gap: 1em;
}