:root {
    --fieldset-color: rgba(255, 255, 255, 0.2);
    --fieldset-color-after: rgba(255, 255, 255, 0.4);
}

.about {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.about h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 0.5em;
    text-align: center;
    font-weight: var(--font-weight-bold);
}
.about p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 0.5em;
    text-align: center;
    font-weight: var(--font-weight-middle);
}

.about a {
    color: var(--main-color);
    text-decoration: underline;
}

.about fieldset {
    border: 3px solid var(--fieldset-color);
    background-color: var(--transparent);
    backdrop-filter: blur(var(--blur-radius));
    -webkit-backdrop-filter: blur(var(--blur-radius));
    line-height: 40px;
    padding: 1em;
    margin: 0.5em auto;
    max-width: calc(100% - 2em);
    margin-left: auto;
    margin-right: auto;
    transition: border-color 0.2s ease;
    cursor: pointer;
}

.about fieldset:hover {
    border-color: var(--fieldset-color-after);
}

.about .fieldset-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.about fieldset.open .fieldset-content {
    max-height: auto;
}

.about fieldset p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 0.5em;
    text-align: left;
    font-weight: var(--font-weight);
}

.about fieldset p:first-of-type {
    margin-top: 0;
}

.about fieldset p strong {
    font-weight: var(--font-weight-middle);
}

.about a {
    color: var(--main-color);
    text-decoration: underline;
    font-weight: var(--font-weight);
}

.about code {
    background-color: var(--light);
    padding: 0.2em;
    border-radius: 0;
    font-family: var(--font);
}

.about fieldset legend {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin-left: 2%;
    color: var(--main-color);
    font-weight: var(--font-weight-middle);
    cursor: pointer;
}