.contact {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.contact h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  margin: 0.5em;
  text-align: center;
  font-weight: var(--font-weight-bold);
}
.contact p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin: 0.5em;
  text-align: center;
  font-weight: var(--font-weight-middle);
}

.contact a {
  color: var(--main-color);
  text-decoration: underline;
}

.contact code {
  background-color: var(--light);
  padding: 0.2em;
  border-radius: 0;
  font-family: var(--font);
  cursor: pointer;
}

.contact code.active {
  cursor: not-allowed;
}

.contact fieldset {
  border: 3px solid var(--transparent);
  position: relative;
  padding: 1em;
  margin: 0.5em auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  transition: border var(--speed) ease;
  background-color: var(--transparent);
  backdrop-filter: blur(var(--blur-radius));
  -webkit-backdrop-filter: blur(var(--blur-radius));
}

.contact fieldset:hover {
  border: 3px solid var(--light);
}

.contact fieldset p:first-of-type {
  margin-top: 0;
}

.contact fieldset legend {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin-left: auto;
  margin-right: auto;
  color: var(--main-color);
  font-weight: var(--font-weight-middle);
  padding: 0 5px;
}
